nav{
    background-color: rgb(88, 115, 197);
    color: rgb(242, 254, 255);
    text-align: center;
}

tr{
    text-align: center;
}

th{
    background-color: lightgray;
    height: 50px;
}

.box{
    background-color: rgb(168, 168, 248);
    width: 120px;
    height: 50px;
    padding-top: 8px;
    margin-top: 20px;
}